@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');

body {
    font-family: 'Luckiest Guy', cursive;
}

header {
    display: flex;
    justify-content: space-around;
}


header div img {
    width: 150px;
    height: 150px;
}

header div h3 {
    font-size: 50px;
    color: rgb(15, 45, 179);
}

div.reloj {
    margin-top: 50px;

}
div.reloj h1 {
    text-align: center;
    font-size: 80px;
    letter-spacing: 5px;
    margin-bottom: 20px;
    /*font-family: 'Orbitron', sans-serif;*/
    font-family: 'Bungee Inline', cursive;
    font-weight: bold;
    height: 150px;
    color: rgb(15, 45, 179);
}

div.reloj div {
    text-align: center;
}

div.reloj div button{
    text-decoration: none;
    font-size: 30px;
    padding: 20px;
    background-color: rgb(15, 45, 179);
    border-radius: 5px;
    margin: 10px;
    color: white;
    font-family: 'Luckiest Guy', cursive;
}

div.reloj div button.disabled {
    text-decoration: none;
    font-size: 30px;
    padding: 20px;
    background-color: grey;
    border-radius: 5px;
    margin: 10px;
    color: black;
    font-family: 'Luckiest Guy', cursive;
}

progress {
    /* Elimino la apariencia por defecto */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
     
    /* Quito el borde que aparece en Firefox */
    border: none;
 
    /* Añado mis propios estilos */
    width: 270px;
    height: 30px;
    overflow:hidden;
     
/*  Estos estilos solo se aplicaran al fondo de la barra en mozilla */
        border:1px inset #666;
    background-color:rgb(15, 45, 179);
    border-radius : 20px ;
}

progress::-webkit-progress-value {
    background: rgb(15, 45, 179);
    border-radius : 20px;  
}
 
progress::-webkit-progress-bar {
    background-color:#D8D8D8;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset; /*esta sombra es para simular el borde que he aplicado arriba para Mozilla*/
    border-radius : 20px ;         
}